
  @import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script&family=Diphylleia&family=c:wght@500&family=Rubik+Lines&family=Tangerine&display=swap');

/* ROOT STYLES*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--font-1: 'Dancing Script';
	--font-2:'Rubik Lines',serif;
	--font-3: cursive;
	--font-4:'Diphylleia',cursive;
}	
html{

}
body{

}
main{
/*	position: relative;*/
	background:linear-gradient(135deg,transparent,#100);
	margin: 0 auto;
	overflow: hidden;
}
input,button{
	border: 0;
}
button{
	cursor: pointer;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
h1,h2,h3,h4,h6{
	margin: 0;
	padding: 0;
}
.container{
  margin: 0 auto;
	scroll-behavior: smooth;
	height: 100vh;
	overflow-y: auto;
	background-color: black;
	color: beige;
	}
.container section{
	scroll-snap-align:start;
}
.social-icons{
	position: absolute;
	bottom: 10rem;
	right: 1rem;
	display: flex;
	flex-direction: column ;
	gap: 50px;
	z-index: 4;
	color: chocolate;
	mix-blend-mode: difference;
	font-size: 2rem;
}
.social-icons i:hover{
 transform: scale(1.1);
}
/*REUSABLE STYLES*/
 .choco{
 	color: chocolate;
 }
 .title{
 	font-size: 3rem;
 	letter-spacing: 1px;
 	font-family: var(--font-3);
 	margin-block: 20px;

 }
/*HEADER STYLES*/
.header{
	position: fixed;
	width: 100%;
	z-index: 2;
}
.nav{
	display: flex;
	position: relative;
	justify-content: space-between;
	border-bottom-left-radius: 10px;
	padding: 10px 30px;
}
.nav div{
}

.nav div h1 {
	font-size: 2.5rem;
	font-family: var(--font-4);
	font-weight: 400;
	position: absolute;
	display: flex;
	mix-blend-mode: difference;
}

.toggle-menu{
	background: transparent;
	color: beige;
	font-size: 2rem;
	position: relative;
	z-index: 2;
}
.list{
	position: absolute;

	top: 0;
	right: -5px;
	width: 15rem;
	height: 100vh;
	background-color: chocolate;
	color: beige;
	transform: translateX(100%);
	border-radius: 5px;
	padding: 3rem 20px 0;
	opacity: 0;
	transition: transform 1s , opacity .5s;
    transform-origin: right;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.list-items{
	border-radius: 10px;
	padding: 10px;
}
.list-links{
	padding-right:  150px;
/*	background-color: red;*/
}
.list-items:hover{
	background-color: color-mix(in srgb , transparent 70%, black 20%);

}
.nav h6{
	margin-top: 20px;
	font-size: 1rem;
}

/*JAVASCRIPT HEADER STYLES*/

.list.active{
	opacity: 1;
	transform: translateX(0);
}
.list.active .toggle-menu{
	color: black;
}
.toggle-menu.active{
	color: black;
}
.header.active{
	background: rgba(0, 0, 0, .5);
	backdrop-filter: blur(5px);

}

/*HERO STYLES*/
.hero{
	height: 100vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	color: white;
	position: relative ;
	background:linear-gradient(140deg,black,70%,#100);
}
.hero img{
	position: absolute;
	width: 50vw;
	height: 100%;
	inset: 0;
	object-fit: cover;
	filter: grayscale(100%);
}
.heading{
	display: grid;
	justify-content: center;
	position: relative;
	z-index: 1;
	mix-blend-mode: difference;
	opacity: 0;
	transition: opacity 2s;
	
}
.text1{
  font-family: var(--font-1) ;
  font-size: 2rem;
  letter-spacing: 2px;
	transform: translateX(-100%);
	transition: transform 1s .5s;
}
.main-text{
	width: 100%;
	font-family: var(--font-1);

	font-size: clamp(3rem, 12vw, 14rem);
	letter-spacing: 4px;
	text-transform: uppercase;
	transform: translateX(150%) ;
	transition: transform 1s 1s ;
}
.text2{
	font-family: var(--font-1);
	font-size: clamp(.8rem, 3vw, 1.6rem);
	text-transform: capitalize;
}
.sub-text{
	position: absolute;
	z-index: 1;
	max-width: 30vw;
	right: 0;
	bottom: 20px;
}

/*JS HERO STYLES*/
.hero.scroll .heading{
	opacity: 1;
}
.hero.scroll .text1{
	transform: translateX(0);
}
.hero.scroll .main-text{
	transform: translateX(0);
}


/*ABOUT*/
.about{

}
.about-container{
	display: grid;
	gap: 30px;
	height: auto;
	place-items: center;
	padding: 20px 50px;
	max-width: 80rem;
	margin:0 auto;
	grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
}
.about-image{
	height: 80%;
	visibility: hidden;
	opacity: 0;
	transform: translate(-100%,-50px);
/*	flex-basis: 50%;*/
}
.about-image,
.about-context{
	visibility: hidden;
	opacity: 0;
	transition: transform 1s , opacity 1s;
}
.about-image img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit:cover ;
}
.about-context{
	transition-delay: 300ms;
  flex-basis: 70%;
  transform: translate(100%, 50px);
}

.about.scroll .about-image,
.about.scroll .about-context
{
visibility: visible;
	opacity: 1;
	transform: translate(0);
}
.about-heading{

}
.about-desc{
 font-size: .8rem;

}

.about-tab{
	font-size: .8rem;
	margin-block: 10px ;
	cursor: pointer;
	width: 10px;
	border-bottom: 2px solid chocolate;

}
.about-deets-container{
	position: relative;
}
.deet:not(:first-child){
	margin-block: 20px;
}
.deets-title{
	font-size: .7rem;
	color: chocolate;
}




/*SERVICES*/
.services{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 90px 0;

}
.services .title,
.services .service-card{
		visibility: hidden;
	opacity: 0;
	
}
.services .title{
	transform: translateY(100px);
	transition: transform 1s , opacity 1s;
}


.services.scroll :is(.title,.service-card){
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.about-services{
	position:fixed;

	inset: 0;
	display: none;
	width: 100%;
	height: 100%;
   padding: 0 50px;
	z-index: 2;
	backdrop-filter: blur(70px);
}
.about-services > div{
   position: relative;
   top: 20%;
   transform: translateY(-50%);
   max-width:  40rem;
   width: 100%;
   margin:  auto;
   background-color: grey;
}

.about-service{
	position: absolute;
	background-color:rgba(0, 0, 0, .6);
	box-shadow: ;
	padding: 20px ;
	border-radius: 20px;
	opacity: 0;
}
.services-container{
	width: 90%;
	margin: 0 auto;
}
.service-cards{ 
	display: grid;
	margin-top: 20px;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
}
.service-card{
	position: relative;
	background-color: grey;
	padding: 20px;
	width: 90%;
	margin-inline: auto;
	border-radius: 10px;
	transform: translateY(100px);
	text-align: left;
	transition: background .5s ,transform .5s,opacity 1s;
	transition-delay: calc(var(--index) * 300ms);
	cursor: pointer;
}
.service-card h6{
	font-size: 1.5rem;
	margin-block: 30px;
}
.more-info{
	position: absolute;
	top: 1rem;
	right: 0;
	background-color: beige;
	color: chocolate;
	padding: 10px;
	border-radius: 25px;
	display: none;
}
.service-card:hover{
	background: chocolate;
	transition-delay: 10ms;
	transform: translateY(-10px);
}
.service-card:hover .more-info{
	display: block;
}
.remove-service-btn{
	font-size: 1.5rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: chocolate;
	background:transparent;
}

/*SERVICE JS STYLES*/
 .about-service.active{
 	opacity: 1;
 	transform: scale(1.0);
 }
 .about-services.active{
 	display:block;
 }

/*PORTFOLIO*/
 .portfolio{
 	padding: 50px 0;

 }
.portfolio-container{
	padding: 40px;
}
.work-list{
	margin: 3rem auto;
	overflow: hidden;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.work{

	position: relative;
}
.work-img{
	width:100%;
	height: 300px;
	border-radius: 20px;
	overflow:hidden;


}
.work-info{
	position: absolute;
	bottom: 0;
	background:linear-gradient(rgba(0, 0, 0, .5),#ff004e);
	height:0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
	border-radius: 70%  70% 0 0 ;
	transition: height 1s , border-radius 1s;
	font-size: 14px;
}
.work-info.active{
	height: 100%;
	border-radius: 10px;
}

.work-info p{
	width: 70%;
}
	.work:hover .work-info{
	height: 100%;
	border-radius: 10px;
}
.video{
	display: none;
}
.video.active{
	display: block;
	width: 100%;
	height: 100%;
	background: black;
}
.play{
	text-align: center;
}
.video.active ~ .play{
	display: none;
}
.play_btn{
	padding: 5px 10px ;
  border-radius: 5px;
  background-color: chocolate;
  margin-top: 20px;
  transition: transform .25s ease;
}
.play_btn:hover{
	transform:scale(1.1);

}

/*REVIEWS*/
.reviews{

}
.reviews-container{
	padding:20px;
	width: 100%;
	max-width: 	80rem;
	text-align: center;
	margin: 0 auto;
}
.review-slide{
	padding: 40px 0;

}
.review {
	border-radius: 10px;

	color: #1c1c1c;
	background-color: whitesmoke;
}

.card-image{
	position: relative;
/*background-color: chocolate;*/
width: auto;
border-radius: 10px;
}
.card-img{
 filter: grayscale(100%);
	border-radius: 50%;
	z-index: 1;
}
.card-name{

	margin: 0;
	font-size: 2rem;
	font-family: ;
}
.card-desc{
	width: 90%;
	margin: 0 auto;
}
.blur{
	position: absolute;
	top: 2rem;
	left: 20%;
	display: block;
	width: 100px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color:rgba(255, 20, 47, .7);
	filter: blur(70px);
}
.swiper-controls::after{
	content: '';
}
.swiper-controls{
	width: initial;
	height: initial;
	font-size: 2.5rem;
	color: chocolate;
}
.swiper-pagination{
	position: relative;
	bottom: -4rem;

}
.swiper-button-next{
	right: 0;
}
.swiper-button-prev{
	left: 0;
}
.swiper-pagination-bullet{
	background-color: beige;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background-color: chocolate;
}


/* CONTACT */
.contact{
	width: 100%;
	background-color: #1F2125;

}
.contact-container{
	padding: 2rem;
	display: flex;
	justify-content: space-between;
}
.contact-left{
 flex-basis: 70%;
 padding: 0;
 position: relative;
 z-index: 1;
/* background-color: grey;*/
}
.contact-left h2{
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	font-size: clamp(1rem, 2vw, 2rem);
}
.contact-info{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 30rem;
}
.contact-info > div{
	width: 90%;
	display: flex;
	gap: 19px;
	margin-bottom: 20px;
}
.contact-info h6{
	margin: 0;
	letter-spacing: 3px;
	font-size:clamp(.8rem, 2vw, 1.6rem);
}
.contact-info p{
	margin: 0;
	width: 20%;
	font-size:clamp(10px, 2vw, 1.6rem)
	letter-spacing: 2px;
}
.socials{
	font-size: 1.3rem;
	display: flex;
	gap: 20px;

}
.socials a:hover{
	color: chocolate;
}
.contact-right{
	display: grid;
	width: auto;
	flex-basis: 30%;

}
.contact-right span{
	
	width: clamp(1rem, 31vw, 25rem);
	height: 11rem;
	aspect-ratio: 2/1
}
.contact-img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;

}.contact-right span:nth-child(1){
	grid-column: 4/7;
	grid-row: 1 / span 4;
}
.contact-right span:nth-child(2){
	grid-column: 5/10;
	grid-row:  3/ span 10 ;
}

/*FOOTER*/
footer {
	background-color:  #1F2125;
  text-align: center;
  width: ;
 	
}


@media (max-width:966px){
/*	hero*/
.hero{
	background: url(mic-img.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	filter: grayscale(100%);

}
.hero img{
	display: none;
}
.heading{
	max-width: none;
}
.sub-text{
	/*position: relative;
	z-index: 1;*/
	max-width: none;
	width: 90%;
}



.contact-right span:nth-child(1){
display: none;
}
/*.contact-right span{
	display: none;
}*/
}

@media (min-width: 966px){


}

::-webkit-scrollbar{
	width: 6px;
	height: 0;
	background-color: black;
}
::-webkit-scrollbar-thumb{
	background-color: chocolate;
	border-radius: 60px;
}